*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF7D6;
    z-index: 9;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    height: 60px;
}

.nav_items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
}

.search-bar {
    width: 20%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #FFF7D6;
    text-transform: capitalize;
    background: none;
    color: #00A8D4;
    outline: none;
}




/*newnew
#1C4C56
#00A8D4
#ECFCFF
#FFF7D6
*/