body
{
    background-color:#ffffff ;
    
}

.login
{
  width: 850px;
  height: 500px;
  background: #89bbbb;
  padding: 20px;
  margin-top: 50px;
  margin-left: 250px;
  border-radius: 7px;
  border: solid #89bbbb ;
  position: absolute;
}
.Register
{
  width: 370px;
  height: 500px;
  background: #1c4c56;
  padding: 20px;
  margin-top: 50px;
  margin-left: 750px;
  border-radius: 7px;
  border: solid #1c4c56 ;
  position: absolute;
}

h2
{
    color: white;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 18%;
    padding: 10px;
    
}
.wordings
{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15%;
    margin-bottom: 10px;
}
.box
{
    color: white;
    size: 90px;
}
.buttonin
{
    color: white;
    padding: 10px;

}
.icons
{
    width: 70%;
    overflow: hidden;
    margin-left: 75px;
    padding: 2%;
    word-spacing: 40px;
    margin-bottom: 25px;
}
.icons a
{
    float: left;
    text-align: center;
    padding: 7px;
    color: white;
    text-decoration: solid;
    font-size: 15px;
}
.icons a:hover 
{
    background-color: #1c4c56;
}
.active
{
    background-color: #1c4c56;
}
 