body
{
    background-color:#ffffff ;
    
}

.login
{
  width: 850px;
  height: 400px;
  background: #518f99;
  padding: 20px;
  margin-top: 70px;
  margin-left: 250px;
  border-radius: 15px;
  border: solid #518f99 ;
  position: absolute;
}
.Register
{
  width: 370px;
  height: 400px;
  background: #83a7b6;
  padding: 20px;
  margin-top: 70px;
  margin-left: 750px;
  border-radius: 4px;
  border: solid #83a7b6 ;
  position: absolute;
}

h2
{
    color: white;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    padding: 10px;
    
}
.wordings
{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 174px;
}
.box
{
    color: white;
    margin-left: 150px;
    padding: 10px;
}
.buttonin
{
    color: white;
    padding: 10px;
    margin-left: 210px;
}
.iconstoo
{
    width: 50px;
    height: 50px;
}
