.topbar {
    background-color: teal;
    overflow: hidden;
    padding-bottom: 5px;
    height: 50px;
    margin: 10px;
}

.topbar a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}

.card1 {
    background-color: beige;
    padding: 12px;
    font-size: 30px;
}

.card2 {
    margin-top: 20px;
    background-color: teal;
    padding: 12px;
}

.card2 div {
    font-size: 29px;
}

.leftbar {
    background-color: #333;
    text-align: center;
    color: white;
    width: 15%;
    float: left;
    /*height: 100000px; /*problem here*/
    margin: 10px;
}

.leftbar a {
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.rightbar {
    /* background-color: green; */
    width: 82%;
    float: left;
    /* height: 100px; */
    margin: 10px;
    margin: 10px;
}

.rounded-circle {
    border-radius: 50%;
    margin: 15px;
    text-align: center;
}
