
/* .container{
    display :flex;
} */

body {
    /* background-color: rgb(15, 15, 103); */
    width: 100%;
    font-family: Meiryo;
}

h2 {
    position: relative;
    font-size: 33px;
    margin-top: 2px;
    color: hsl(0, 40%, 90%);
    -webkit-text-stroke: 0.3vw hsl(0, 40%, 90%);
    text-transform: uppercase;

}

h2::before {
    content: attr(data-text);
    position: absolute;

    color: #6201fe;
    -webkit-text-stroke: 0vw #000000;
    border-right: 2px solid #c21ba6;
    overflow: hidden;
    animation: animate 6s linear infinite;

}

@keyframes animate {
    0% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

img {
    width: 3vw;
}

.im {
    width: 28px;
    height: 28px;
}

.navbar {
    margin: 1px;
    width: 100%;
    height: 1px;

}

.nav-ul {
    padding: 1px;
    list-style: none;
}

li {
    float: left;
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
    cursor: pointer;
    padding-bottom: 24px;
    color: #6201fe;

}

.ourUS {
    padding-right: 9px;
    margin-right: 10px;

}

.ourUs-h {
    font-size: 20px;
    margin-right: 190px;
    margin-left: 0px;
}

.active,
li:hover {
    color: #6201fe;
    border-bottom: 4px solid #c21ba6;

}

.ourUS:hover {
    border-bottom: 0;
}

.ourUs-h:hover {
    border-bottom: 0;
}

.input {

    width: 300px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: hsl(0, 40%, 90%);
    box-shadow: 20px 20px 60px #c5c5c5;
    transition: 0.3s;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.main {
    margin-top: 80px;
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    background: linear-gradient(-90deg, #cc5bb9 0%, #a47be5 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-1 {
    width: 36%;
    margin-left: 80px;
    padding-top: 70px;

}

.hd {
    font-size: 53px;
    color: #333;


}

.hd2 {
    font-size: 64px;
    color: #222;
    margin-top: -55px;
    letter-spacing: 0.03em;
    font-weight: 900;
}

.cont {
    width: 94%;
    margin-top: 35px;
    color: #4f0142;
    letter-spacing: 0.01rem;
    font-weight: 600;
    font-size: 23px;
}

